#wrap {
  width: 750px;
  height: 1500px;
  padding: 0;
  overflow: hidden;
}

#viewer {
  width: 1000px;
  height: 2000px;
  border: 0px;
}

#viewer {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #viewer {
    zoom: 1;
  }
}
