<h1 style="display: flex; justify-content: center;">File Upload</h1>
<div *ngIf="!uploadComplete">
  <ngx-dropzone (change)="onSelect($event)">
    <ngx-dropzone-label>Drag files here. Alternatively, <b>select</b> to upload manually.</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
  </ngx-dropzone>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" (click)="upload()" type="submit">Upload</button>
    <button class="btn btn-default mr-2" type="button">Cancel</button>
  </div>
</div>
<div *ngIf="uploadComplete" class="container mt-5">
  <h3 style='text-align: center;'>Upload complete!</h3>
</div>
